# Introduction

The primary objective of this analysis is to identify the factors that significantly influence customer churn within our organization. By understanding these key drivers, we aim to develop targeted strategies to reduce churn rates and improve customer retention.

The data encompasses various customer attributes including tenure, contract types, gender, age, service usage, billing methods, and more. Through a comprehensive analysis of these attributes, we seek to uncover patterns and trends that will inform our business decisions and help us implement effective measures to retain our customers.

In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql postgresql://postgres:****@127.0.0.1/telco

Connecting and switching to connection 'postgresql://postgres:***@127.0.0.1/telco'

In [15]:
%config SqlMagic.displaylimit = 20  # Set the display limit to 20

In [16]:
%%sql

SELECT COUNT(CustomerID)
FROM customer_churn;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

1 rows affected.

+-------+
| count |
+-------+
|  7032 |
+-------+

In [17]:
%%sql

 -- Take a look at our table
SELECT *
FROM customer_churn
LIMIT 5;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

5 rows affected.

+------------+--------+---------------+---------+------------+--------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+---------------------------+----------------+--------------+-------+
| customerid | gender | seniorcitizen | partner | dependents | tenure | phoneservice | multiplelines | internetservice | onlinesecurity | onlinebackup | deviceprotection | techsupport | streamingtv | streamingmovies |    contract    | paperlessbilling |       paymentmethod       | monthlycharges | totalcharges | churn |
+------------+--------+---------------+---------+------------+--------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+---------------------------+----------------+--------------+-------+
| 2673-CXQEU | Female |       1       |    No   |     No     |   56   |     Yes      |      Yes      |   Fiber optic   |      Yes       |     Yes      |       Yes        |      No     |     Yes     |       Yes       |    One year    |        No        |      Electronic check     |     110.5      |    6139.5    |   No  |
| 2372-HWUHI |  Male  |       0       |    No   |     No     |   2    |     Yes      |       No      |       DSL       |       No       |      No      |        No        |      No     |      No     |        No       | Month-to-month |        No        |      Electronic check     |     44.35      |    81.25     |  Yes  |
| 8782-LKFPK |  Male  |       0       |    No   |     No     |   44   |     Yes      |      Yes      |   Fiber optic   |       No       |      No      |       Yes        |      No     |      No     |       Yes       | Month-to-month |       Yes        |        Mailed check       |      90.4      |     4063     |   No  |
| 3597-MVHJT | Female |       0       |    No   |     No     |   27   |     Yes      |      Yes      |   Fiber optic   |       No       |      No      |        No        |      No     |     Yes     |       Yes       | Month-to-month |       Yes        | Bank transfer (automatic) |      95.6      |   2595.25    |   No  |
| 9774-NRNAU |  Male  |       1       |   Yes   |     No     |   27   |     Yes      |      Yes      |       DSL       |       No       |     Yes      |       Yes        |     Yes     |     Yes     |       Yes       | Month-to-month |       Yes        | Bank transfer (automatic) |      84.8      |   2309.55    |   No  |
+------------+--------+---------------+---------+------------+--------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+---------------------------+----------------+--------------+-------+

## Which months has the most total customers and least?
- The tenure range 0-12 months had the most customers with a total of 2175 customers.
- The tenure range 37-48 months had the least customers with a total of 762.

In [18]:
%%sql


-- Bin tenure into specified ranges and calculate total and churned customers
WITH tenure_binned AS (
    SELECT
        CASE
            WHEN tenure BETWEEN 0 AND 12 THEN '0-12'
            WHEN tenure BETWEEN 13 AND 24 THEN '13-24'
            WHEN tenure BETWEEN 25 AND 36 THEN '25-36'
            WHEN tenure BETWEEN 37 AND 48 THEN '37-48'
            WHEN tenure BETWEEN 49 AND 60 THEN '49-60'
            WHEN tenure BETWEEN 61 AND 72 THEN '61-72'
            ELSE '73+'
        END AS tenure_range,
        COUNT(*) AS total_cust,
        SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS churned_custs
    FROM customer_churn
    GROUP BY tenure_range
)
-- Select and order the results by total customers
SELECT tenure_range,
       total_cust,
       churned_custs,
       (churned_custs::numeric / total_cust) * 100 AS churn_rate
FROM tenure_binned
ORDER BY tenure_range;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+--------------+------------+---------------+-------------------------+
| tenure_range | total_cust | churned_custs |        churn_rate       |
+--------------+------------+---------------+-------------------------+
|     0-12     |    2175    |      1037     | 47.67816091954022988500 |
|    13-24     |    1024    |      294      | 28.71093750000000000000 |
|    25-36     |    832     |      180      | 21.63461538461538461500 |
|    37-48     |    762     |      145      | 19.02887139107611548600 |
|    49-60     |    832     |      120      | 14.42307692307692307700 |
|    61-72     |    1407    |       93      |  6.60980810234541577800 |
+--------------+------------+---------------+-------------------------+

## Is there a correlation between how long customers have been with the company and their likelihood of churn?

### AVG month customers churn?
- Customers tenure on avg is 18 months before they churn.

In [19]:
%%sql

-- On AVG how many months do they stay before they churn?
SELECT ROUND(AVG(tenure)) AS avg_months_stayed
FROM customer_churn
WHERE churn = 'Yes';

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

1 rows affected.

+-------------------+
| avg_months_stayed |
+-------------------+
|         18        |
+-------------------+

### What is the average churn rate?
- AVG Churn: 22%

In [20]:
%%sql


-- What is the average churn rate?
SELECT AVG(has_churned::numeric / total_cust * 100) AS avg_churn_rate
FROM (
    SELECT tenure,
           COUNT(*) AS total_cust,
			SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned
    FROM customer_churn
    GROUP BY tenure
) AS churn_rate
ORDER BY avg_churn_rate DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

1 rows affected.

+-------------------------+
|      avg_churn_rate     |
+-------------------------+
| 22.32036279922443018519 |
+-------------------------+

### Which month has the most churn?
- The 1st month has the most churn at 62%.

In [21]:
%%sql


-- Which month has the most churn?
SELECT tenure,
       total_cust,
       churned_custs,
       churned_custs::numeric / total_cust  * 100 AS churn_rate
FROM (
    SELECT tenure,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS churned_custs
    FROM customer_churn
    GROUP BY tenure
) AS churn_rate
ORDER BY churn_rate DESC
LIMIT 1;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

1 rows affected.

+--------+------------+---------------+-------------------------+
| tenure | total_cust | churned_custs |        churn_rate       |
+--------+------------+---------------+-------------------------+
|   1    |    613     |      380      | 61.99021207177814029400 |
+--------+------------+---------------+-------------------------+

### Which month has the lowest churn?
- The 72nd month has the lowest churn at 1.7%.

In [22]:
%%sql

-- Remove outlier
DELETE FROM customer_churn
WHERE tenure = 0;


-- Which month has the lowest churn?
SELECT tenure,
       total_cust,
       churned_custs,
       churned_custs::numeric / total_cust  * 100 AS churn_rate
FROM (
    SELECT tenure,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS churned_custs
    FROM customer_churn
    GROUP BY tenure
) AS churn_rate
ORDER BY churn_rate ASC
LIMIT 1;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

1 rows affected.

+--------+------------+---------------+------------------------+
| tenure | total_cust | churned_custs |       churn_rate       |
+--------+------------+---------------+------------------------+
|   72   |    362     |       6       | 1.65745856353591160200 |
+--------+------------+---------------+------------------------+

### Are customers with longer tenure more likely to choose long-term contracts and how that affects their churn likelihood?
- Month-to-month Contracts:
- - Highest churn rates across all tenure ranges, especially for customers with tenure of 0-12 months (51.35%) and 13-24 months (37.72%).

- One Year Contracts:
- - Lower churn rates compared to month-to-month, with rates decreasing as tenure increases.
- - Notable rates: 10.57% for 0-12 months, 8.12% for 13-24 months, and 8.00% for 25-36 months.

- Two Year Contracts:
- - Lowest churn rates across all tenure ranges.
- - Churn rate is 0% for customers with tenure up to 24 months.
- - Slightly higher churn for longer tenures (2.08% for 25-36 months and 3.19% for 48+ months).

In [23]:
%%sql



-- Difference between tenure, contract and churn?
SELECT tenure_range, contract, total_cust, has_churned, not_churned,
       CASE 
           WHEN has_churned::numeric / total_cust * 100 = '0E-20' THEN 0
           ELSE has_churned::numeric / total_cust * 100
       END AS perc
FROM (
    SELECT 
        CASE 
            WHEN tenure <= 12 THEN '0-12'
            WHEN tenure >= 13 AND tenure <= 24 THEN '13-24'
            WHEN tenure >= 25 AND tenure <= 36 THEN '25-36'
            WHEN tenure >= 25 AND tenure <= 36 THEN '37-48'
            ELSE '48+'
        END AS tenure_range,
        contract,
        COUNT(*) AS total_cust,
        SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
        SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY 
        CASE 
            WHEN tenure <= 12 THEN '0-12'
            WHEN tenure >= 13 AND tenure <= 24 THEN '13-24'
            WHEN tenure >= 25 AND tenure <= 36 THEN '25-36'
            WHEN tenure >= 25 AND tenure <= 36 THEN '37-48'
            ELSE '48+'
        END,
        contract
) AS tenure_contract_churn
ORDER BY tenure_range, perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

12 rows affected.

+--------------+----------------+------------+-------------+-------------+-------------------------+
| tenure_range |    contract    | total_cust | has_churned | not_churned |           perc          |
+--------------+----------------+------------+-------------+-------------+-------------------------+
|     0-12     | Month-to-month |    1994    |     1024    |     970     | 51.35406218655967903700 |
|     0-12     |    One year    |    123     |      13     |     110     | 10.56910569105691056900 |
|     0-12     |    Two year    |     58     |      0      |      58     |            0            |
|    13-24     | Month-to-month |    737     |     278     |     459     | 37.72048846675712347400 |
|    13-24     |    One year    |    197     |      16     |     181     |  8.12182741116751269000 |
|    13-24     |    Two year    |     90     |      0      |      90     |            0            |
|    25-36     | Month-to-month |    486     |     158     |     328     | 32.51028806584362139900 |
|    25-36     |    One year    |    250     |      20     |     230     |  8.00000000000000000000 |
|    25-36     |    Two year    |     96     |      2      |      94     |  2.08333333333333333300 |
|     48+      | Month-to-month |    658     |     195     |     463     | 29.63525835866261398200 |
|     48+      |    One year    |    902     |     117     |     785     | 12.97117516629711751700 |
|     48+      |    Two year    |    1441    |      46     |     1395    |  3.19222761970853573900 |
+--------------+----------------+------------+-------------+-------------+-------------------------+

## Customer Demographics and Churn

### What is the churn by gender?
- Females churn the most at 27%.
- Males churn at 26%

In [24]:
%%sql

-- Num of male and female cust and their turn rates
SELECT gender, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT gender,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY gender
) AS gender_churn
ORDER BY gender;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+--------+------------+-------------+-------------+-------------------------+
| gender | total_cust | has_churned | not_churned |           perc          |
+--------+------------+-------------+-------------+-------------------------+
| Female |    3483    |     939     |     2544    | 26.95951765719207579700 |
|  Male  |    3549    |     930     |     2619    | 26.20456466610312764200 |
+--------+------------+-------------+-------------+-------------------------+

### Do senior citizens have a higher churn rate compared to younger customers?
- Senior citizens churn more then younger customers at 42%.
- Non-senior citizens churen less at 24%.

In [25]:
%%sql

-- Num of customers senior and non-senior cust and their turn rates
SELECT SeniorCitizen, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY SeniorCitizen
) AS senior_churn
ORDER BY SeniorCitizen;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+---------------+------------+-------------+-------------+-------------------------+
| seniorcitizen | total_cust | has_churned | not_churned |           perc          |
+---------------+------------+-------------+-------------+-------------------------+
|       0       |    5890    |     1393    |     4497    | 23.65025466893039049200 |
|       1       |    1142    |     476     |     666     | 41.68126094570928196100 |
+---------------+------------+-------------+-------------+-------------------------+

### Do customers with and without partners affect churn?
- Customers without partners churn the most at 33%, whereas those with partners only churn at 20%.

In [26]:
%%sql



-- Difference between Partner and churn?
SELECT Partner, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT Partner,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY Partner
) AS Partner_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+---------+------------+-------------+-------------+-------------------------+
| partner | total_cust | has_churned | not_churned |           perc          |
+---------+------------+-------------+-------------+-------------------------+
|    No   |    3639    |     1200    |     2439    | 32.97609233305853256400 |
|   Yes   |    3393    |     669     |     2724    | 19.71706454465075154700 |
+---------+------------+-------------+-------------+-------------------------+

### Do customers with dependents affect churn?
- Customers without dependants churn the most at 31%, whereas those with dependants churn the least at 16%.

In [27]:
%%sql



-- Difference between Total Dependents and churn?
SELECT Dependents, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT Dependents,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY Dependents
) AS TDependents_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+------------+------------+-------------+-------------+-------------------------+
| dependents | total_cust | has_churned | not_churned |           perc          |
+------------+------------+-------------+-------------+-------------------------+
|     No     |    4933    |     1543    |     3390    | 31.27914048246503142100 |
|    Yes     |    2099    |     326     |     1773    | 15.53120533587422582200 |
+------------+------------+-------------+-------------+-------------------------+

## Service Usage and Churn

### Are customers with or without phone service more likely to churn?
- The churn rate for both customers with and without phone service is pretty matched.
- Customers with phone service churn the most at 27%.
- Customers without phone service only churn at 25%.

In [28]:
%%sql
-- Num of customers with phone services and their turn rates
SELECT PhoneService,
       total_cust,
       has_churned,
       not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT PhoneService,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY PhoneService
) AS dsl_fiber_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+--------------+------------+-------------+-------------+-------------------------+
| phoneservice | total_cust | has_churned | not_churned |           perc          |
+--------------+------------+-------------+-------------+-------------------------+
|     Yes      |    6352    |     1699    |     4653    | 26.74748110831234256900 |
|      No      |    680     |     170     |     510     | 25.00000000000000000000 |
+--------------+------------+-------------+-------------+-------------------------+

### Are customers with DSL or Fiber optic internet more prone to churn?
- Most customers churn who have Fiber optic internet, at 42%.
- The least amount of customers churn who do not have any internet services at 7.4%.

In [29]:
%%sql
-- Num of customers with DSL, Fiber or without and their turn rates
SELECT InternetService,
       total_cust,
       has_churned,
       not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT InternetService,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY InternetService
) AS dsl_fiber_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+-----------------+------------+-------------+-------------+-------------------------+
| internetservice | total_cust | has_churned | not_churned |           perc          |
+-----------------+------------+-------------+-------------+-------------------------+
|   Fiber optic   |    3096    |     1297    |     1799    | 41.89276485788113695100 |
|       DSL       |    2416    |     459     |     1957    | 18.99834437086092715200 |
|        No       |    1520    |     113     |     1407    |  7.43421052631578947400 |
+-----------------+------------+-------------+-------------+-------------------------+

### Which age groups are more or less likely to churn based on if they have DSL, Fiber Optic, or no internet service?
- Senior citizens with Fiber Optic are more likely to churn at 47% than if they have DSL having a 30% churn, or no internet service at 10% churn.
- Non-senior citizens are less likely to churn if they have no internet service with a churn of 7%.
- Non-senior churn the most who have Fiber Optic at 40% churn followed by DSL with a churn of 18%.

In [30]:
%%sql
-- Num of customers with DSL, Fiber or without and their turn rates
SELECT SeniorCitizen, InternetService,
       total_cust,
       has_churned,
       not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT SeniorCitizen, InternetService,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY SeniorCitizen, InternetService
) AS dsl_fiber_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+-----------------+------------+-------------+-------------+-------------------------+
| seniorcitizen | internetservice | total_cust | has_churned | not_churned |           perc          |
+---------------+-----------------+------------+-------------+-------------+-------------------------+
|       1       |   Fiber optic   |    831     |     393     |     438     | 47.29241877256317689500 |
|       0       |   Fiber optic   |    2265    |     904     |     1361    | 39.91169977924944812400 |
|       1       |       DSL       |    259     |      78     |     181     | 30.11583011583011583000 |
|       0       |       DSL       |    2157    |     381     |     1776    | 17.66342141863699582800 |
|       1       |        No       |     52     |      5      |      47     |  9.61538461538461538500 |
|       0       |        No       |    1468    |     108     |     1360    |  7.35694822888283378700 |
+---------------+-----------------+------------+-------------+-------------+-------------------------+

## Subscription Plans and Churn:

### Differences between contract types and churn?
- Month-to-month has the highest turn at 43%.
- The two year contracts have the lowest churn rate at 3% followed by one year contracts having a churn of 11%.

In [31]:
%%sql


-- Difference between contract types and churn?
SELECT contract, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT contract,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY contract
) AS contract_churn
ORDER BY contract, perc;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+----------------+------------+-------------+-------------+-------------------------+
|    contract    | total_cust | has_churned | not_churned |           perc          |
+----------------+------------+-------------+-------------+-------------------------+
| Month-to-month |    3875    |     1655    |     2220    | 42.70967741935483871000 |
|    One year    |    1472    |     166     |     1306    | 11.27717391304347826100 |
|    Two year    |    1685    |      48     |     1637    |  2.84866468842729970300 |
+----------------+------------+-------------+-------------+-------------------------+

### Which contracts churn the most per age groups?
- Senior citizen shave the highest churn percentage on month-to-month contracts, followed by one year at 15%. The lowest is two year at 4%.
- Non-seniors churn the most on month-to-month contracts too with a 40% churn, following by one year contracts with an 11% churn, lastly two year contracts having only 3% churn.

In [32]:
%%sql


-- Difference between contract types and churn?
SELECT SeniorCitizen, contract, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT SeniorCitizen, contract,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY SeniorCitizen, contract
) AS contract_churn
ORDER BY contract, perc;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+----------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |    contract    | total_cust | has_churned | not_churned |           perc          |
+---------------+----------------+------------+-------------+-------------+-------------------------+
|       0       | Month-to-month |    3068    |     1214    |     1854    | 39.56975228161668839600 |
|       1       | Month-to-month |    807     |     441     |     366     | 54.64684014869888475800 |
|       0       |    One year    |    1282    |     137     |     1145    | 10.68642745709828393100 |
|       1       |    One year    |    190     |      29     |     161     | 15.26315789473684210500 |
|       0       |    Two year    |    1540    |      42     |     1498    |  2.72727272727272727300 |
|       1       |    Two year    |    145     |      6      |     139     |  4.13793103448275862100 |
+---------------+----------------+------------+-------------+-------------+-------------------------+

### Do customers who opt for paperless billing have different churn rates compared to those who do not?

- Customers with paperless billing churn the highest at 34%, whereas those without churn at 16%

In [33]:
%%sql


-- Difference between PaperlessBilling  and churn?
SELECT PaperlessBilling, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT PaperlessBilling,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY PaperlessBilling
) AS PaperlessBilling_churn
ORDER BY PaperlessBilling, perc;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+------------------+------------+-------------+-------------+-------------------------+
| paperlessbilling | total_cust | has_churned | not_churned |           perc          |
+------------------+------------+-------------+-------------+-------------------------+
|        No        |    2864    |     469     |     2395    | 16.37569832402234636900 |
|       Yes        |    4168    |     1400    |     2768    | 33.58925143953934740900 |
+------------------+------------+-------------+-------------+-------------------------+

### Which age group churns the most with or without paperless billing?
- Seniors with paperless billing churn the most at 45%. Non-seniors churn only at 30%.
- Non-seniors without paperless billing have the lowest turn of 15%, followed by seniiors at 29%.

In [34]:
%%sql


-- Difference between SeniorCitizen, PaperlessBilling and churn?
SELECT SeniorCitizen, PaperlessBilling, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT SeniorCitizen, PaperlessBilling,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY SeniorCitizen, PaperlessBilling
) AS PaperlessBilling_churn
ORDER BY SeniorCitizen, PaperlessBilling, perc;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

4 rows affected.

+---------------+------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen | paperlessbilling | total_cust | has_churned | not_churned |           perc          |
+---------------+------------------+------------+-------------+-------------+-------------------------+
|       0       |        No        |    2598    |     391     |     2207    | 15.05003849114703618200 |
|       0       |       Yes        |    3292    |     1002    |     2290    | 30.43742405832320777600 |
|       1       |        No        |    266     |      78     |     188     | 29.32330827067669172900 |
|       1       |       Yes        |    876     |     398     |     478     | 45.43378995433789954300 |
+---------------+------------------+------------+-------------+-------------+-------------------------+

### Any difference in churn rates among different payment methods?
- Electronic checks have the highest churn at 45% by far. This is followed by mailed checks at 19%.
- Automatic bank tranfers churn at 17%, whereas automatic credit card churns at the lost with 15%.

In [35]:
%%sql



-- Difference between PaymentMethod and churn?
SELECT PaymentMethod, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT PaymentMethod,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY PaymentMethod
) AS PaymentMethod_churn
ORDER BY perc;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

4 rows affected.

+---------------------------+------------+-------------+-------------+-------------------------+
|       paymentmethod       | total_cust | has_churned | not_churned |           perc          |
+---------------------------+------------+-------------+-------------+-------------------------+
|  Credit card (automatic)  |    1521    |     232     |     1289    | 15.25312294543063773800 |
| Bank transfer (automatic) |    1542    |     258     |     1284    | 16.73151750972762645900 |
|        Mailed check       |    1604    |     308     |     1296    | 19.20199501246882793000 |
|      Electronic check     |    2365    |     1071    |     1294    | 45.28541226215644820300 |
+---------------------------+------------+-------------+-------------+-------------------------+

- Seniors:
- - Those with electronic checks churn the highest at 53%, followed by mailed checks at 47%.
- - Automatic credit cards churn at 28%, with the automatic bank transfers having the lowest churn at 23%.

- Non-seniors:
- - Electronic checks have the highest churn at 43%, followed by mailed checks at 17%.
- - Automatic bank transfers churn at 16%, with automatic credit cards having the lowest churn of 13%.

In [36]:
%%sql



-- Difference between SeniorCitizen, PaymentMethod and churn?
SELECT SeniorCitizen, PaymentMethod, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT SeniorCitizen, PaymentMethod,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY SeniorCitizen, PaymentMethod
) AS PaymentMethod_churn
ORDER BY SeniorCitizen, PaymentMethod, perc;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

8 rows affected.

+---------------+---------------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |       paymentmethod       | total_cust | has_churned | not_churned |           perc          |
+---------------+---------------------------+------------+-------------+-------------+-------------------------+
|       0       | Bank transfer (automatic) |    1309    |     205     |     1104    | 15.66080977845683728000 |
|       0       |  Credit card (automatic)  |    1300    |     170     |     1130    | 13.07692307692307692300 |
|       0       |      Electronic check     |    1771    |     754     |     1017    | 42.57481648785996612100 |
|       0       |        Mailed check       |    1510    |     264     |     1246    | 17.48344370860927152300 |
|       1       | Bank transfer (automatic) |    233     |      53     |     180     | 22.74678111587982832600 |
|       1       |  Credit card (automatic)  |    221     |      62     |     159     | 28.05429864253393665200 |
|       1       |      Electronic check     |    594     |     317     |     277     | 53.36700336700336700300 |
|       1       |        Mailed check       |     94     |      44     |      50     | 46.80851063829787234000 |
+---------------+---------------------------+------------+-------------+-------------+-------------------------+

## Financial Metrics and Churn:

### Do higher or lower monthly charges influence the likelihood of customers' churn?
- 81-100: these customers have the most churn at 37%.
- 61-80: these customers churn at 33%.
- 101+: churn rate of 28%.
- 41-60: churn rate of 27%.
- 1-40: Lowest churn rate at 12%.

In [37]:
%%sql



-- Difference between MonthlyCharges and churn?
SELECT charge_range, 
       total_cust, 
       has_churned, 
       not_churned,
       has_churned::numeric / total_cust * 100 AS perc 
FROM (
    SELECT 
        CASE 
            WHEN MonthlyCharges <= 40 THEN '1-40'
            WHEN MonthlyCharges >= 41 AND MonthlyCharges <= 60 THEN '41-60'
            WHEN MonthlyCharges >= 61 AND MonthlyCharges <= 80 THEN '61-80'
            WHEN MonthlyCharges >= 81 AND MonthlyCharges <= 100 THEN '81-100'
            ELSE '101+'
        END AS charge_range,
        COUNT(*) AS total_cust,
        SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
        SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY 
        CASE 
            WHEN MonthlyCharges <= 40 THEN '1-40'
            WHEN MonthlyCharges >= 41 AND MonthlyCharges <= 60 THEN '41-60'
            WHEN MonthlyCharges >= 61 AND MonthlyCharges <= 80 THEN '61-80'
            WHEN MonthlyCharges >= 81 AND MonthlyCharges <= 100 THEN '81-100'
            ELSE '101+'
        END
) AS MonthlyCharges_churn
GROUP BY charge_range, total_cust, has_churned, not_churned
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

5 rows affected.

+--------------+------------+-------------+-------------+-------------------------+
| charge_range | total_cust | has_churned | not_churned |           perc          |
+--------------+------------+-------------+-------------+-------------------------+
|    81-100    |    1610    |     596     |     1014    | 37.01863354037267080700 |
|    61-80     |    1397    |     464     |     933     | 33.21403006442376521100 |
|     101+     |    1155    |     329     |     826     | 28.48484848484848484800 |
|    41-60     |    1038    |     266     |     772     | 25.62620423892100192700 |
|     1-40     |    1832    |     214     |     1618    | 11.68122270742358078600 |
+--------------+------------+-------------+-------------+-------------------------+

## Service Add-ons and Churn:

### Are customers who use online security less likely to churn?
- Customers without online security have the highest churn of 31%, followed by those with online security having a 15% churn.

Update onlinesecurity column where No internet security values updated to No to proper counting.

In [38]:
%%sql


-- Update onlinesecurity column having values of No internet security updated to No
UPDATE customer_churn
SET OnlineSecurity = CASE
	WHEN OnlineSecurity = 'No internet service' THEN 'No'
	ELSE OnlineSecurity
END;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

7032 rows affected.

++
||
++
++

In [39]:
%%sql

-- Num of customers with online security and their turn rates

SELECT OnlineSecurity, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT OnlineSecurity,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY OnlineSecurity
) AS internetsecurity_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

2 rows affected.

+----------------+------------+-------------+-------------+-------------------------+
| onlinesecurity | total_cust | has_churned | not_churned |           perc          |
+----------------+------------+-------------+-------------+-------------------------+
|       No       |    5017    |     1574    |     3443    | 31.37333067570261112200 |
|      Yes       |    2015    |     295     |     1720    | 14.64019851116625310200 |
+----------------+------------+-------------+-------------+-------------------------+

### What age group churns more or less if they have interenet security?
- Senior without internet security churn the most at 50%, whereas with interenet security having a churn of 23%
- Non-sensiors with internet security churn the least at 13%, but churn more at 28% without interenet security.

In [40]:
%%sql


-- Num of customers with online security and their turn rates per age group
SELECT SeniorCitizen, OnlineSecurity, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT OnlineSecurity, SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY OnlineSecurity, SeniorCitizen
) AS internetsecurity_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

4 rows affected.

+---------------+----------------+------------+-------------+-------------+-------------------------+
| seniorcitizen | onlinesecurity | total_cust | has_churned | not_churned |           perc          |
+---------------+----------------+------------+-------------+-------------+-------------------------+
|       1       |       No       |    860     |     412     |     448     | 47.90697674418604651200 |
|       0       |       No       |    4157    |     1162    |     2995    | 27.95285061342314168900 |
|       1       |      Yes       |    282     |      64     |     218     | 22.69503546099290780100 |
|       0       |      Yes       |    1733    |     231     |     1502    | 13.32948643969994229700 |
+---------------+----------------+------------+-------------+-------------+-------------------------+

### Do customers using streaming TV have different churn rates?
- Customers without streaming TV service have the highest churn at 34%
- Customers with streaming TV service have the next highest churn of 30%.
- Lastly, customers without streaming tv or internet servie has a churn of 7%.

In [41]:
%%sql


-- Difference between StreamingTV and churn?
SELECT StreamingTV, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT StreamingTV,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY StreamingTV
) AS StreamingTV_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+---------------------+------------+-------------+-------------+-------------------------+
|     streamingtv     | total_cust | has_churned | not_churned |           perc          |
+---------------------+------------+-------------+-------------+-------------------------+
|          No         |    2809    |     942     |     1867    | 33.53506585973656105400 |
|         Yes         |    2703    |     814     |     1889    | 30.11468738438771735100 |
| No internet service |    1520    |     113     |     1407    |  7.43421052631578947400 |
+---------------------+------------+-------------+-------------+-------------------------+

### Which age group churns the most with or without streaming tv?
- Seniors without streaming tv service has the highest churn of 47%, closly followed by seniors with streaming service churn at 40%.
- Non-seniors without streaming tv service churn at 31%, followed by non-seniors with streaming tv service churn at 27%.
- Seniors without internet streaming service and internet churn at 10%, followed by non-seniors without interenet service churn at 7%.

In [42]:
%%sql


-- Num of customers with StreamingTV and their turn rates per age group
SELECT SeniorCitizen, StreamingTV, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT StreamingTV, SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY StreamingTV, SeniorCitizen
) AS StreamingTV_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+---------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |     streamingtv     | total_cust | has_churned | not_churned |           perc          |
+---------------+---------------------+------------+-------------+-------------+-------------------------+
|       1       |          No         |    518     |     242     |     276     | 46.71814671814671814700 |
|       1       |         Yes         |    572     |     229     |     343     | 40.03496503496503496500 |
|       0       |          No         |    2291    |     700     |     1591    | 30.55434308162374508900 |
|       0       |         Yes         |    2131    |     585     |     1546    | 27.45190051618958235600 |
|       1       | No internet service |     52     |      5      |      47     |  9.61538461538461538500 |
|       0       | No internet service |    1468    |     108     |     1360    |  7.35694822888283378700 |
+---------------+---------------------+------------+-------------+-------------+-------------------------+

### Do customers using streaming movies have different churn rates?
- Customers without streaming movies service has the highest churn rate at 34%, followed by those who do have this service at 30%.
- Lastly, customers without internet service churn at 7%.

In [43]:
%%sql


-- Num of customers with StreamingMovies and their churn rates
SELECT StreamingMovies, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT StreamingMovies,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY StreamingMovies
) AS StreamingMovies_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+---------------------+------------+-------------+-------------+-------------------------+
|   streamingmovies   | total_cust | has_churned | not_churned |           perc          |
+---------------------+------------+-------------+-------------+-------------------------+
|          No         |    2781    |     938     |     1843    | 33.72887450557353470000 |
|         Yes         |    2731    |     818     |     1913    | 29.95239838886854632000 |
| No internet service |    1520    |     113     |     1407    |  7.43421052631578947400 |
+---------------------+------------+-------------+-------------+-------------------------+

### Which age group churns the most with or without streaming movies?
- Seniors without streaming movie service churn the highest at 46%, followed by seniors with streaming movies at 41%.
- Non-seniors without streaming movies service churn at 31%, followed by those with streaming movies at 27%.
- Seniors without internet service churn at 10%, while non-seniors without internet churn at 7%.

In [44]:
%%sql


-- Num of customers with StreamingMovies and their turn rates per age group
SELECT SeniorCitizen, StreamingMovies, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT StreamingMovies, SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY StreamingMovies, SeniorCitizen
) AS StreamingMovies_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+---------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |   streamingmovies   | total_cust | has_churned | not_churned |           perc          |
+---------------+---------------------+------------+-------------+-------------+-------------------------+
|       1       |          No         |    495     |     227     |     268     | 45.85858585858585858600 |
|       1       |         Yes         |    595     |     244     |     351     | 41.00840336134453781500 |
|       0       |          No         |    2286    |     711     |     1575    | 31.10236220472440944900 |
|       0       |         Yes         |    2136    |     574     |     1562    | 26.87265917602996254700 |
|       1       | No internet service |     52     |      5      |      47     |  9.61538461538461538500 |
|       0       | No internet service |    1468    |     108     |     1360    |  7.35694822888283378700 |
+---------------+---------------------+------------+-------------+-------------+-------------------------+

### Do customers with online backup have different churn rates?
- Customers without online backup have the highest churn at 40%, followed by those with online backup churn at 22%.

In [45]:
%%sql


-- Num of customers with OnlineBackup and their churn rates
SELECT OnlineBackup, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT OnlineBackup,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY OnlineBackup
) AS OnlineBackup_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+---------------------+------------+-------------+-------------+-------------------------+
|     onlinebackup    | total_cust | has_churned | not_churned |           perc          |
+---------------------+------------+-------------+-------------+-------------------------+
|          No         |    3087    |     1233    |     1854    | 39.94169096209912536400 |
|         Yes         |    2425    |     523     |     1902    | 21.56701030927835051500 |
| No internet service |    1520    |     113     |     1407    |  7.43421052631578947400 |
+---------------------+------------+-------------+-------------+-------------------------+

### Which age group churns the most with or without online backup?
- Seniors:
- - Seniors without online backup have the highest churn of 53%, where those with online backup churn at 31%.

- Non-seniors:
- - Customers without online backup churn the most at 37%, followed by those with online back up churn at 19%.

In [46]:
%%sql


-- Num of customers with OnlineBackup and their turn rates per age group
SELECT SeniorCitizen, OnlineBackup, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT OnlineBackup, SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY OnlineBackup, SeniorCitizen
) AS OnlineBackup_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+---------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |     onlinebackup    | total_cust | has_churned | not_churned |           perc          |
+---------------+---------------------+------------+-------------+-------------+-------------------------+
|       1       |          No         |    614     |     324     |     290     | 52.76872964169381107500 |
|       0       |          No         |    2473    |     909     |     1564    | 36.75697533360291144400 |
|       1       |         Yes         |    476     |     147     |     329     | 30.88235294117647058800 |
|       0       |         Yes         |    1949    |     376     |     1573    | 19.29194458696767573100 |
|       1       | No internet service |     52     |      5      |      47     |  9.61538461538461538500 |
|       0       | No internet service |    1468    |     108     |     1360    |  7.35694822888283378700 |
+---------------+---------------------+------------+-------------+-------------+-------------------------+

### Do customers with device protection have different churn rates?
- Customers without device protection have the highest churn of 39%, whereas those with only churn at 23%.

In [47]:
%%sql


-- Num of customers with DeviceProtection and their churn rates
SELECT DeviceProtection, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT DeviceProtection,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY DeviceProtection
) AS DeviceProtection_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+---------------------+------------+-------------+-------------+-------------------------+
|   deviceprotection  | total_cust | has_churned | not_churned |           perc          |
+---------------------+------------+-------------+-------------+-------------------------+
|          No         |    3094    |     1211    |     1883    | 39.14027149321266968300 |
|         Yes         |    2418    |     545     |     1873    | 22.53928866832092638500 |
| No internet service |    1520    |     113     |     1407    |  7.43421052631578947400 |
+---------------------+------------+-------------+-------------+-------------------------+

### Which age group churns the most with or without device protection?
- Seniors:
- - Seniors without device protection churn the most at 51%, followed by those with device protection churn at 32%.

- Non-seniors:
- - Customers without device protection churn at 36%, whereas those with device protection churn at 20%.

In [48]:
%%sql


-- Num of customers with DeviceProtection and their turn rates per age group
SELECT SeniorCitizen, DeviceProtection, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT DeviceProtection, SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY DeviceProtection, SeniorCitizen
) AS DeviceProtection_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+---------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |   deviceprotection  | total_cust | has_churned | not_churned |           perc          |
+---------------+---------------------+------------+-------------+-------------+-------------------------+
|       1       |          No         |    624     |     320     |     304     | 51.28205128205128205100 |
|       0       |          No         |    2470    |     891     |     1579    | 36.07287449392712550600 |
|       1       |         Yes         |    466     |     151     |     315     | 32.40343347639484978500 |
|       0       |         Yes         |    1952    |     394     |     1558    | 20.18442622950819672100 |
|       1       | No internet service |     52     |      5      |      47     |  9.61538461538461538500 |
|       0       | No internet service |    1468    |     108     |     1360    |  7.35694822888283378700 |
+---------------+---------------------+------------+-------------+-------------+-------------------------+

### Do customers with tech support have different churn rates?
- Customers without tech support churn the highest at 42%, followed by those with tech support only churn at 15%.

In [49]:
%%sql


-- Num of customers with TechSupport and their churn rates
SELECT TechSupport, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT TechSupport,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY TechSupport
) AS TechSupport_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

3 rows affected.

+---------------------+------------+-------------+-------------+-------------------------+
|     techsupport     | total_cust | has_churned | not_churned |           perc          |
+---------------------+------------+-------------+-------------+-------------------------+
|          No         |    3472    |     1446    |     2026    | 41.64746543778801843300 |
|         Yes         |    2040    |     310     |     1730    | 15.19607843137254902000 |
| No internet service |    1520    |     113     |     1407    |  7.43421052631578947400 |
+---------------------+------------+-------------+-------------+-------------------------+

### Which age group churns the most with or without tech support?
- Seniors:
- - Customers without tech support churn the most at 51%, followed by those with tech support only churn at 20%.

- Non-seniors:
- - Customers without tech support churn the highest at 39%, whereas those with tech support churn at 15%.

In [50]:
%%sql


-- Num of customers with TechSupport and their turn rates per age group
SELECT SeniorCitizen, TechSupport, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT TechSupport, SeniorCitizen,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY TechSupport, SeniorCitizen
) AS TechSupport_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

6 rows affected.

+---------------+---------------------+------------+-------------+-------------+-------------------------+
| seniorcitizen |     techsupport     | total_cust | has_churned | not_churned |           perc          |
+---------------+---------------------+------------+-------------+-------------+-------------------------+
|       1       |          No         |    830     |     420     |     410     | 50.60240963855421686700 |
|       0       |          No         |    2642    |     1026    |     1616    | 38.83421650264950794900 |
|       1       |         Yes         |    260     |      51     |     209     | 19.61538461538461538500 |
|       0       |         Yes         |    1780    |     259     |     1521    | 14.55056179775280898900 |
|       1       | No internet service |     52     |      5      |      47     |  9.61538461538461538500 |
|       0       | No internet service |    1468    |     108     |     1360    |  7.35694822888283378700 |
+---------------+---------------------+------------+-------------+-------------+-------------------------+

## Cross-Analysis:

### Are customers with multiple phone lines and a specific type of internet service have different churn behaviors?
- Customers without multiple lines:
- - Fiber optic service churns the most at 46%, followed by DSL with 21%. Those without any interet service churn the least at 9%.
- Customers with multiple lines:
- - Fiber optic again churns the most at 40%, followed again by DSL at 12%. Lastly, no internet service users churn at 3%.

In [51]:
%%sql



-- Difference between MultipleLines, internet service and churn?
SELECT MultipleLines, InternetService, total_cust, has_churned, not_churned,
       has_churned::numeric / total_cust  * 100 AS perc
FROM (
    SELECT MultipleLines, InternetService,
           COUNT(*) AS total_cust,
           SUM(CASE WHEN churn = 'Yes' THEN 1 ELSE 0 END) AS has_churned,
           SUM(CASE WHEN churn = 'No' THEN 1 ELSE 0 END) AS not_churned
    FROM customer_churn
    GROUP BY MultipleLines, InternetService
) AS MultipleLines_churn
ORDER BY perc DESC;

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

7 rows affected.

+------------------+-----------------+------------+-------------+-------------+-------------------------+
|  multiplelines   | internetservice | total_cust | has_churned | not_churned |           perc          |
+------------------+-----------------+------------+-------------+-------------+-------------------------+
|        No        |   Fiber optic   |    1158    |     530     |     628     | 45.76856649395509499100 |
|       Yes        |   Fiber optic   |    1938    |     767     |     1171    | 39.57688338493292053700 |
| No phone service |       DSL       |    680     |     170     |     510     | 25.00000000000000000000 |
|        No        |       DSL       |    1047    |     216     |     831     | 20.63037249283667621800 |
|       Yes        |       DSL       |    689     |      73     |     616     | 10.59506531204644412200 |
|        No        |        No       |    1180    |     103     |     1077    |  8.72881355932203389800 |
|       Yes        |        No       |    340     |      10     |     330     |  2.94117647058823529400 |
+------------------+-----------------+------------+-------------+-------------+-------------------------+

# Final Insights and Business Recommendations
## Key Insights

### Tenure and Churn

- The first 12 months of customer tenure see the highest churn rates, particularly the first month at 62%.
Customers with longer tenures (48+ months) show significantly lower churn rates.
Contract Type

- Month-to-month contracts have the highest churn rates across all tenure ranges.
Two-year contracts have the lowest churn rates, indicating that longer commitments may help in retaining customers.

### Demographics

- Senior citizens have higher churn rates compared to non-seniors, with a significant churn rate of 42%.
Gender differences are minimal but females have a slightly higher churn rate at 27%.
Internet and Phone Services

- Customers using fiber optic internet services churn the most at 42%, while those without internet services churn the least at 7.4%.
The presence or absence of phone services does not significantly impact churn rates.

- Customers without dependents churn the most at 31%, whereas those with dependents churn the least at 16%.

### Billing and Payment Methods

- Paperless billing customers churn at a higher rate (34%) compared to those who do not use paperless billing (16%).
Customers paying via electronic checks have the highest churn rate at 45%, whereas those using automatic credit card payments have the lowest churn rate at 15%.

### Additional Services

- Customers without online backup have the highest churn at 40%, followed by those with online backup churn at 22%.
- - Seniors without online backup have the highest churn of 53%, whereas those with online backup churn at 31%.
- - Non-seniors without online backup churn the most at 37%, followed by those with online backup churn at 19%.
- Customers without device protection have the highest churn of 39%, whereas those with device protection churn at 23%.
- - Seniors without device protection churn the most at 51%, followed by those with device protection churn at 32%.
- - Non-seniors without device protection churn at 36%, whereas those with device protection churn at 20%.
- Customers without tech support churn the highest at 42%, followed by those with tech support churn at 15%.
- - Seniors without tech support churn the most at 51%, whereas those with tech support churn at 20%.
- - Non-seniors without tech support churn the highest at 39%, whereas those with tech support churn at 15%.


## Business Recommendations

### Improve Onboarding and Early Engagement

- Develop comprehensive onboarding programs and early engagement strategies to support customers in the first 12 months. Personalized check-ins, welcome offers, and proactive customer support can mitigate high initial churn rates.

### Incentivize Long-Term Contracts

- Offer attractive incentives for customers to sign longer-term contracts. This could include discounts, value-added services, or loyalty rewards for two-year contract commitments, which have the lowest churn rates.

### Targeted Retention Programs for Seniors

- Create targeted retention programs for senior citizens, such as personalized support, senior-friendly services, and special discounts, to address their higher churn rates.

### Enhance Service Offerings

- Improve the reliability and value proposition of fiber optic internet services to reduce the high churn rates associated with this service. Consider bundling services with additional features like online security, streaming options, online backup, device protection, and tech support to increase customer satisfaction.

### Flexible Billing Options

- Promote the benefits of automatic payment methods, especially automatic credit card payments, which have the lowest churn rates. Educate customers about the convenience and security of these methods to encourage adoption.

### Personalized Customer Communication

- Implement personalized communication strategies based on customer demographics and service usage patterns. Use data-driven insights to offer tailored recommendations and support, enhancing overall customer experience.

### Loyalty and Rewards Programs

- Develop loyalty and rewards programs that recognize and reward long-term customers. Offer exclusive perks, discounts, and access to special events to incentivize continued patronage.

### Proactive Issue Resolution

- Monitor customer satisfaction closely and address issues proactively. Implement feedback loops and quick resolution mechanisms to prevent dissatisfaction from escalating into churn.


By addressing these key areas, we can significantly reduce churn rates, enhance customer satisfaction, and build a loyal customer base that contributes to sustained business growth.

In [52]:
import pandas as pd

# Execute the SQL query and load data into a DataFrame
df = %sql SELECT * FROM customer_churn;

# Convert the result to a pandas DataFrame
df = df.DataFrame()

# Save the DataFrame to a CSV file
df.to_csv(r'..\data\telco_cust_churn.csv', index=False)

Running query in 'postgresql://postgres:***@127.0.0.1/telco'

7032 rows affected.